FORMAT: 1A
HOST: http://api.stg.kioson.biz/api/v1

# de453f5c6caba980baa12b6eb31543dc

bridging for existing API to New API format

## App Collection [/mobile]

### Check Version [POST /mobile/check_version]

+ Request (application/json)

        {
            "device_version": "1.0"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Aplikasi versi 1.0 sudah nggak mendukung usahamu lagi. Segera update aplikasimu sekarang!",
            "data": {
                "current_version": "7.0",
                "url": "http://refro.kioson.biz/ipayrefroserver/IPAY_ReFro.apk.rar"
            }
        }

### Slider [GET /mobile/slider]

+ Response 200 (text/html)

### Home Banner [GET /mobile/home_banner]

+ Response 200 (text/html)

### Technical Help [GET /mobile/technical_help]
status: todo

+ Response 200 (application/json)

### Configuration [GET /mobile/configuration]
status: todo

+ Response 200 (application/json)

## Preset Collection [/presets]

### Shop Types [GET /shop_types]
status: todo

+ Response 200 (application/json)

### All Operators [GET /operators]
status: todo

+ Response 200 (application/json)

## Auth Collection [/auth]

### Auth Register [POST /auth/register]

+ Request (application/json)

        {
            "otp": "123456",
            "name": "User Skyshi",
            "email": "user@skyshi.com",
            "phone_number": "082111333599",
            "password": "12345678",
            "referral_code": ""
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Pendaftaran Kioson Anda akan diproses. ID Kioson Cash Point (ID KCP) Anda akan dibuat dalam periode 24 jam dan akan dikomunikasikan ke Anda melalui SMS. Untuk pertanyaan dan informasi lebih lanjut, hubungi Call Center Kioson di 0812-9556-8383 (TELKOMSEL), 0818-0721-8383 (XL), 0857-7625-8383 (INDOSAT), dan 0899-983-8383 (THREE). Terima Kasih",
            "data": {}
        }

### Auth Login [POST /auth/login]

+ Request (application/json)

        {
            "username": "rzzy",
            "password": "12345"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaW4iOiJiYzBiZmMzYWQwNGFlNGE4YTY1NDQ0ZWRkMzAwMDQxNiIsInNlc3Npb25faWQiOiI0N2I3OWEwYy1jYTZmLTExZTctYSIsInJldGFpbGVyX2lkIjoicnp6eSIsImlhdCI6MTUxMDc5NjQ5NSwiZXhwIjoxNTExNDAxMjk1fQ.WOViLhW5QmD5Go305BWdoT-22-CpRUUCNjCNHz5z04w"
            }
        }

### Auth Logout [GET /logout]
status: todo

+ Response 200 (application/json)

## OTP Collection [/otp]

### Resend OTP [POST /otp/send]

+ Request (application/json)

        {
            "phone_number": "082123456789"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "OTP will sent to your register mobile number",
            "data": {}
        }

## User Collection [/user]

### Service Location [GET /user/service_location]
status: todo

+ Response 200 (application/json)

### Information [GET /user]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "website": "N/A",
                "retailer_id": "RZZY",
                "icp_category_name": "KCP PREMIUM",
                "distributer_id": "D0A",
                "first_name": "Satrio",
                "last_name": "Wisnugroho",
                "mobile_no": "085694946170",
                "mobno": "085694946170",
                "dist_first_name": "IPay Tech",
                "dist_lastt_name": "India",
                "icc_category_name": "KCC PREMIUM",
                "village": "KUTUH",
                "constituency": "KUTA SELATAN",
                "distmobnum": "9703437763",
                "hno": "23",
                "street": "AXA JAKARTAX",
                "locality": "Tampomas Sleman",
                "landmark": "XXX",
                "city": "AXA JAKARTA",
                "district": "BADUNG",
                "pincode": "123456",
                "state": "BALI",
                "business_name": "Wisnu Cell",
                "business_type": "TOKO PULSA",
                "landline": "",
                "email": "wisnugrohosatrio@gmail.com",
                "customer_care": "+62-818-0721-8383,+62-812-9556-8383,+62-899-983-8383,+62-857-7625-8383,+62-817-233-3838"
            }
        }

### Update Profile [PUT /user]

+ Request (application/json)

        {
            "name": "Satrio Wisnugroho",
            "email": "wisnugrohosatrio@gmail.com",
            "store_name": "Wisnu Cell",
            "store_phone": "082138844644",
            "store_type": "TOKO PULSA",
            "street": "Tampomas Sleman",
            "province": "BALI",
            "district": "BADUNG",
            "city": "KUTA SELATAN",
            "village": "KUTUH",
            "zip_code": "123456",
            "store_street": "Tampomas Sleman",
            "store_province": "BALI",
            "store_district": "BADUNG",
            "store_city": "KUTA SELATAN",
            "store_village": "KUTUH",
            "store_zip_code": "123456",
            "latitude": "-7.77135075",
            "longitude": "110.34580316",
            "isShop": "0",
            "id_image": "base64",
            "store_image": "base64",
            "selfie_image": "base64"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Udpated Successfully.",
            "data": {}
        }

### Pin [GET /user/pin]
status: todo

+ Response 200 (application/json)

### List Messages [GET /user/messages]
status: todo

+ Response 200 (application/json)

### Update App Version [PUT /user/app_version]
status: todo

+ Response 200 (application/json)

### Loan Activity [POST /user/loan_activity]
status: todo

+ Response 200 (application/json)


### Balances [GET /user/balances]
status: todo

+ Response 200 (application/json)

## Order Collection [/orders]
### List Orders [GET /]
status: todo

+ Response 200 (application/json)