FORMAT: 1A
HOST: http://api.stg.kioson.biz/api/v1

# de453f5c6caba980baa12b6eb31543dc

bridging for existing API to New API format
## A sek josh [/products]

### A sek test products [GET /products]
 + Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
               {
                    "id": 1,
                    "name": "Ursulet nou",
                    "quantity": 12,
                    "price": 20,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 1
                  },
                  {
                    "id": 2,
                    "name": "Masinuta",
                    "quantity": 5,
                    "price": 20,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 1
                  },
                  {
                    "id": 3,
                    "name": "Barcuta",
                    "quantity": 2,
                    "price": 21,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 1
                  },
                  {
                    "id": 4,
                    "name": "Albinuta",
                    "quantity": 7,
                    "price": 7,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 1
                  },
                  {
                    "id": 5,
                    "name": "Mingiuta",
                    "quantity": 9,
                    "price": 8,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 1
                  },
                  {
                    "id": 6,
                    "name": "Civilization",
                    "quantity": 4,
                    "price": 80,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 2
                  },
                  {
                    "id": 7,
                    "name": "StarCraft",
                    "quantity": 1,
                    "price": 40,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 2
                  },
                  {
                    "id": 8,
                    "name": "WarCraft",
                    "quantity": 1,
                    "price": 35,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 2
                  },
                  {
                    "id": 9,
                    "name": "GTA 5",
                    "quantity": 100,
                    "price": 5,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 2
                  },
                  {
                    "id": 10,
                    "name": "Halo",
                    "quantity": 45,
                    "price": 36,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 2
                  },
                  {
                    "id": 11,
                    "name": "Red Alert",
                    "quantity": 30,
                    "price": 3,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 2
                  },
                  {
                    "name": "Ciocolata Milka",
                    "quantity": 12,
                    "price": 20,
                    "description": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.",
                    "supplierId": 3,
                    "id": 12
                  }
                
            ]
        }



## Auth [/auth]

### Auth Login [POST /auth/login]

+ Request (application/json)

        {
            "username": "rzzy",
            "password": "12345"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwaW4iOiJiYzBiZmMzYWQwNGFlNGE4YTY1NDQ0ZWRkMzAwMDQxNiIsInNlc3Npb25faWQiOiI0N2I3OWEwYy1jYTZmLTExZTctYSIsInJldGFpbGVyX2lkIjoicnp6eSIsImlhdCI6MTUxMDc5NjQ5NSwiZXhwIjoxNTExNDAxMjk1fQ.WOViLhW5QmD5Go305BWdoT-22-CpRUUCNjCNHz5z04w"
            }
        }

### Auth Register [POST /auth/register]

+ Request (application/json)

        {
            "otp": "123456",
            "name": "User Skyshi",
            "email": "user@skyshi.com",
            "phone_number": "082111333599",
            "password": "12345678",
            "referral_code": ""
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Pendaftaran Kioson Anda akan diproses. ID Kioson Cash Point (ID KCP) Anda akan dibuat dalam periode 24 jam dan akan dikomunikasikan ke Anda melalui SMS. Untuk pertanyaan dan informasi lebih lanjut, hubungi Call Center Kioson di 0812-9556-8383 (TELKOMSEL), 0818-0721-8383 (XL), 0857-7625-8383 (INDOSAT), dan 0899-983-8383 (THREE). Terima Kasih",
            "data": {}
        }

### Auth Logout [GET /auth/logout]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {}
        }
### Auth test [GET /auth/test]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": false,
            "data": {
                "song_title": "apaaja",
            }
        }

## Global [/global]

### Check Coupon [POST /coupon]

+ Request (application/json)

        {
            "coupon_code": "RMD10X",
            "service_product_id": 756,
            "service_type": null
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Bonus Pulsa",
            "data": {
                "campaign_name": "Bonus Pulsa",
                "amount": 15000,
                "status": true,
                "coupon_code": "RMD10X",
                "coupon_value": 15000,
                "final_amount": 15000
            }
        }

### Get News [GET /news]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "id": 4191,
                    "status": 1,
                    "category": "OFFERS",
                    "subject": "Test News",
                    "content": "Tawaran menarik nih harbolnas",
                    "is_read": true,
                    "image": "http://via.placeholder.com/1000x500",
                    "created_at": 1513150751
                },
                {
                    "id": 4197,
                    "status": 1,
                    "category": "ADMIN",
                    "subject": "admin",
                    "content": "lorem ipsum dolor sit amet",
                    "is_read": true,
                    "image": "http://via.placeholder.com/1000x500",
                    "created_at": 1513217728
                },
                {
                    "id": 4198,
                    "status": 1,
                    "category": "INFO",
                    "subject": "info",
                    "content": "lorem ipsum dolor sit amet",
                    "is_read": false,
                    "image": "http://via.placeholder.com/1000x500",
                    "created_at": 1513217755
                },
                {
                    "id": 4199,
                    "status": 1,
                    "category": "OTHERS",
                    "subject": "others",
                    "content": "fvkvk ipsum dolor sit amet",
                    "is_read": false,
                    "image": "http://via.placeholder.com/1000x500",
                    "created_at": 1513217779
                },
                {
                    "id": 4200,
                    "status": 1,
                    "category": "SOMEBODY",
                    "subject": "somebodys",
                    "content": "facing time always on ma mind ips",
                    "is_read": true,
                    "image": "http://via.placeholder.com/1000x500",
                    "created_at": 1513217780
                }
                
            ]
        }

### Get Promo [GET /promo]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "id": 4191,
                    "status": 1,
                    "subject": "Test Promo",
                    "content": "Tawaran menarik nih harbolnas yoo",
                    "image": "http://via.placeholder.com/1000x500",
                    "created_at": 1513150751
                },
                {
                    "id": 4197,
                    "status": 1,
                    "subject": "admin",
                    "content": "lorem ipsum dolor sit amet",
                    "image": "http://via.placeholder.com/1000x500",
                    "created_at": 1513217728
                },
                {
                    "id": 4198,
                    "status": 1,
                    "subject": "info",
                    "content": "lorem ipsum dolor sit amet",
                    "image": "http://via.placeholder.com/1000x500",
                    "created_at": 1513217755
                },
                {
                    "id": 4199,
                    "status": 1,
                    "subject": "othersPeople",
                    "content": "lorem ipsum dolor sit amet",
                    "image": "http://via.placeholder.com/1000x500",
                    "created_at": 1513217779
                }
            ]
        }
        
## Postpaid [/postpaid]

### Postpaid Installment [GET /presets/postpaid]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "operator": "Esia Postpaid",
                    "id": 221
                },
                {
                    "operator": "Smartfren Postpaid",
                    "id": 222
                },
                {
                    "operator": "Telkomflexy Postpaid",
                    "id": 223
                },
                {
                    "operator": "Tri Postpaid",
                    "id": 224
                },
                {
                    "operator": "Xplor Postpaid",
                    "id": 225
                }
            ]
        }

### Postpaid Confirmation [POST /services/postpaid/confirmation]

+ Request (application/json)

        {
            "service_product_id": 988,
            "phone_number": "082138844644"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "customer_name": "Bangkit",
                "charge": 0,
                "actual_amount": 7000,
                "total_amount": 7000
            }
        }
        
### Postpaid Order [POST /services/postpaid/order]

+ Request (application/json)

        {
            "pin": "1234567",
            "service_product_id": 756,
            "phone_number": "082138844644",
            "coupon_code": ""
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "service_product": "Esia Postpaid",
                "phone_number": "082138844644",
                "order_id": "VJD123",
                "amount": 10000,
                "print": "*************KIOSON*************~*********www.kioson.com*********~ID KCP       :R82T~--------------------------------~STRUK PEMBELIAN PULSA XL ~--------------------------------~TANGGAL     :2017-12-07 14:12:14~ID Pesanan       :113X67CQ~Operator         :XL~Nomer Handphone  :0818457475~Nilai Transaksi  :Rp.6.500~--------------------------------~Terima kasih telah bertransaksi di kioson~Untuk informasi lebih lanjut~silahkan hubungi~XL:0818-0721-8383~Indosat:0857-7625-8383~3 Three:0899-983-8383~Telkomsel:0812-9556-8383~================================~*********www.kioson.com**********~",
                "print_html": "<html><head>\n<style type='text/css'>\n\n.printpage, .printpage th, .printpage td {\n    /* border: 1px solid black; */\n    border-collapse: collapse;\n}\n.printpage{border: 2px solid #ccc; width:60%;}\n.printpage th, .printpage td {padding:8px; width:50%;}\n.printpage{margin-left:auto; margin-right:auto;}\n .fontbold{ font-weight:bold; text-align:left;}\n.textleft{ text-align:left;}\n @media(max-width:640px){.printpage{width:100%;}}\n</style></head><body style='font-size:15px; font-family:arial;'><table class='printpage'><tr><td class='fontbold' colspan='2'>STRUK PEMBAYARAN TIKET KERETA API </td></tr><tr><td class='fontbold'>KODE BOOKING</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;53RHRA          </td></tr><tr><td class='fontbold'>KODE BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;9994557279804</td></tr><tr><td class='fontbold'>NAMA PENUMPANG</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;FX SYAHASTA APRIL TANTRI</td></tr><tr><td class='fontbold'>TOTAL BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;Rp.17.500</td></tr><tr><td class='fontbold'>REF FM</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;201712221506399994557279804</td></tr><tr><td class='fontbold'>NAMA KA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;PANGRANGO                     </td></tr><tr><td class='fontbold'>RUTE</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;BOO-CBD</td></tr><tr><td class='fontbold'>BERANGKAT</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 18.30</td></tr><tr><td class='fontbold'>TIBA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 19.58</td></tr><tr><td class='fontbold'>KURSI</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;2A</td></tr><tr><td class='fontbold' COLSPAN='2'></td></tr></table></body></html>"
            }
        }


## Location [/location]

### States [GET /location/states]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "id": "BALI",
                    "name": "BALI"
                },
                {
                    "id": "BANGKA BELITUNG",
                    "name": "BANGKA BELITUNG"
                },
                {
                    "id": "BANTEN",
                    "name": "BANTEN"
                }
            ]
        }

### Districts [GET /location/districts?state_id={state_id}]

+ Parameters
    + state_id: "BALI" (string, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "id": "BADUNG",
                    "name": "BADUNG"
                },
                {
                    "id": "BANGLI",
                    "name": "BANGLI"
                },
                {
                    "id": "BULELENG",
                    "name": "BULELENG"
                }
            ]
        }

### Cities [GET /location/cities?district_id={district_id}]

+ Parameters
    + district_id: "BULELENG" (string, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "id": "BANJAR",
                    "name": "BANJAR"
                },
                {
                    "id": "BULELENG",
                    "name": "BULELENG"
                },
                {
                    "id": "BUSUNGBIU",
                    "name": "BUSUNGBIU"
                }
            ]
        }

### Villages [GET /location/villages?city_id={city_id}]

+ Parameters
    + city_id: "BANJAR" (string, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "id": "BALOKANG",
                    "name": "BALOKANG"
                },
                {
                    "id": "BANDUNG",
                    "name": "BANDUNG"
                },
                {
                    "id": "BANJAR",
                    "name": "BANJAR"
                }
            ]
        }

## Mobile [/mobile]

### Check Version [POST /mobile/check-version]

+ Request (application/json)

        {
            "device_version": "1.0"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Aplikasi versi 1.0 sudah nggak mendukung usahamu lagi. Segera update aplikasimu sekarang!",
            "data": {
                "current_version": "7.0",
                "url": "http://refro.kioson.biz/ipayrefroserver/IPAY_ReFro.apk.rar"
            }
        }

### Slider [GET /mobile/slider]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "id": 1,
                    "title": "Mulai Berdagang Online",
                    "description": "Kioson memudahkan kamu untuk menjual beragam produk online, pulsa, hingga pembayaran tagihan",
                    "image": "https://bridge.kioson.project.skyshi.com/images/banner1.png"
                },
                {
                    "id": 2,
                    "title": "Dapat Komisi & Bonus",
                    "description": "Setiap transaksi yang kamu lakukan akan mendapatkan komisi dan bonus hingga jutaan rupiah",
                    "image": "https://bridge.kioson.project.skyshi.com/images/banner2.png"
                },
                {
                    "id": 3,
                    "title": "Fitur Produk Lengkap",
                    "description": "Sekarang transfer uang kemana pun dan kapan pun labih mudah dengan aplikasi Kioson terbaru",
                    "image": "https://bridge.kioson.project.skyshi.com/images/banner3.png"
                }
            ]
        }

### Home Banner [GET /mobile/home-banner]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "image": "http://d176bkfkb203kv.cloudfront.net/image1png.png",
                    "category_id": null,
                    "product_id": null,
                    "description": "WAAAA"
                },
                {
                    "image": "http://d176bkfkb203kv.cloudfront.net/image2.jpg",
                    "category_id": null,
                    "product_id": null,
                    "description": "T"
                },
                {
                    "image": "http://d176bkfkb203kv.cloudfront.net/image3.jpg",
                    "category_id": null,
                    "product_id": null,
                    "description": "D"
                },
                {
                    "image": "http://d176bkfkb203kv.cloudfront.net/image4.jpg",
                    "category_id": null,
                    "product_id": 14,
                    "description": "JH"
                },
                {
                    "image": "http://d176bkfkb203kv.cloudfront.net/image5.jpg",
                    "category_id": null,
                    "product_id": null,
                    "description": "IIUU"
                },
                {
                    "image": "http://d176bkfkb203kv.cloudfront.net/Slash-Issue-No37.jpg",
                    "category_id": null,
                    "product_id": 16,
                    "description": "HJJHJH"
                },
                {
                    "image": "http://d176bkfkb203kv.cloudfront.net/image7.jpg",
                    "category_id": null,
                    "product_id": null,
                    "description": "Test 7"
                },
                {
                    "image": "http://d176bkfkb203kv.cloudfront.net/image8png.png",
                    "category_id": null,
                    "product_id": null,
                    "description": "GKJKJ"
                },
                {
                    "image": "http://d176bkfkb203kv.cloudfront.net/image9.jpg",
                    "category_id": null,
                    "product_id": null,
                    "description": "UUU"
                }
            ]
        }

### Gate Screen [GET /mobile/gate-screen]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "title": "Bergabung dengan Kioson",
                "description": "Kioson memudahkan kamu untuk menjual beragam produk online pulsa hingga pembayaran tagihan.",
                "image": "https://bridge.kioson.project.skyshi.com/images/banner1.png"
            }
        }

### Technical Help [GET /mobile/technical-help]
status: todo

+ Response 200 (application/json)

### Configuration [GET /mobile/configuration]
status: todo

+ Response 200 (application/json)

## OTP [/otp]

### Resend OTP [POST /otp/send]

+ Request (application/json)

        {
            "username": "082123456789"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "OTP will sent to your register mobile number",
            "data": {}
        }

## Preset [/presets]

### Store Types [GET /presets/store-types]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "id": "TOKO KELONTONG",
                    "name": "TOKO KELONTONG"
                },
                {
                    "id": "TOKO PULSA",
                    "name": "TOKO PULSA"
                },
                {
                    "id": "TOKO SERBA ADA",
                    "name": "TOKO SERBA ADA"
                },
                {
                    "id": "LOKET PEMBAYARAN",
                    "name": "LOKET PEMBAYARAN"
                },
                {
                    "id": "WARUNG KELONTONG",
                    "name": "WARUNG KELONTONG"
                },
                {
                    "id": "TOKO ELEKTRONIK",
                    "name": "TOKO ELEKTRONIK"
                },
                {
                    "id": "BIRO TRAVEL",
                    "name": "BIRO TRAVEL"
                },
                {
                    "id": "WARNET",
                    "name": "WARNET"
                },
                {
                    "id": "RESTORAN",
                    "name": "RESTORAN"
                },
                {
                    "id": "TOKO FASHION",
                    "name": "TOKO FASHION"
                },
                {
                    "id": "TOKO/BENGKEL OTOMATIF",
                    "name": "TOKO/BENGKEL OTOMATIF"
                },
                {
                    "id": "DEALER MOBILE/MOTOR",
                    "name": "DEALER MOBILE/MOTOR"
                },
                {
                    "id": "SHOWROOM MOBIL/MOTOR",
                    "name": "SHOWROOM MOBIL/MOTOR"
                },
                {
                    "id": "LAUNDRY",
                    "name": "LAUNDRY"
                },
                {
                    "id": "LAIN-LAIN",
                    "name": "LAIN-LAIN"
                }
            ]
        }

### Work Types [GET /presets/work-types]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "id": "DRIVER UBER",
                    "name": "DRIVER UBER"
                },
                {
                    "id": "KARYAWAN SWASTA",
                    "name": "KARYAWAN SWASTA"
                },
                {
                    "id": "PELAJAR/MAHASISWA",
                    "name": "PELAJAR/MAHASISWA"
                },
                {
                    "id": "PNS",
                    "name": "PNS"
                },
                {
                    "id": "MAHASISWA",
                    "name": "MAHASISWA"
                },
                {
                    "id": "IBU RUMAH TANGGA",
                    "name": "IBU RUMAH TANGGA"
                },
                {
                    "id": "PEKERJA LEPAS",
                    "name": "PEKERJA LEPAS"
                },
                {
                    "id": "SUPIR MOBIL/DRIVER ONLINE",
                    "name": "SUPIR MOBIL/DRIVER ONLINE"
                },
                {
                    "id": "OJEK ONLINE",
                    "name": "OJEK ONLINE"
                },
                {
                    "id": "AGEN ASURANSI/MLM",
                    "name": "AGEN ASURANSI/MLM"
                },
                {
                    "id": "LEADER KOMUNITAS",
                    "name": "LEADER KOMUNITAS"
                }
            ]
        }

## Service - Chip [/services/chip]

### Preset [GET /presets/chip]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "operator": "XL",
                    "id": 1023,
                    "service_products": [
                        {
                            "amount": 5000,
                            "operator": "XL",
                            "description": "XL DOMPUL 5.000 MALANG,JEMBER",
                            "id": 1022,
                            "commission": 1500
                        },
                        {
                            "amount": 10000,
                            "operator": "XL",
                            "description": "XL DOMPUL 10.000 MALANG,JEMBER",
                            "id": 1023,
                            "commission": 0
                        },
                        {
                            "amount": 0,
                            "operator": "XL",
                            "description": "XL SALDO MALANG,JEMBER",
                            "id": 1024,
                            "commission": 0
                        },
                        {
                            "amount": 5000,
                            "operator": "XL",
                            "description": "XL DOMPUL 5.000 BANDUNG",
                            "id": 1030,
                            "commission": 1500
                        },
                        {
                            "amount": 10000,
                            "operator": "XL",
                            "description": "XL DOMPUL 10.000 BANDUNG",
                            "id": 1031,
                            "commission": 250
                        },
                        {
                            "amount": 0,
                            "operator": "XL",
                            "description": "XL SALDO BANDUNG",
                            "id": 1032,
                            "commission": 1500
                        }
                    ]
                }
            ]
        }

### Confirmation [POST /services/chip/confirmation]

+ Request (application/json)

        {
            "service_product_id": 1022,
            "qty": 4,
            "amount": 0
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "discount": 0,
                "charge": 1000,
                "actual_amount": 5000,
                "total_amount": 6000
            }
        }

### Order [POST /services/chip/order]

+ Request (application/json)

        {
            "pin": "1234567",
            "phone_number": "081937260311",
            "service_product_id": 1022,
            "qty": 4,
            "amount": 0,
            "coupon_code": ""
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "order_id": "117U2NCQ",
                "payment_code": "9994557279804",
                "amount": 6000,
                "print": "*************KIOSON*************~*********www.kioson.com*********~ID KCP       :R82T~--------------------------------~STRUK PEMBELIAN PULSA XL ~--------------------------------~TANGGAL     :2017-12-07 14:12:14~ID Pesanan       :113X67CQ~Operator         :XL~Nomer Handphone  :0818457475~Nilai Transaksi  :Rp.6.500~--------------------------------~Terima kasih telah bertransaksi di kioson~Untuk informasi lebih lanjut~silahkan hubungi~XL:0818-0721-8383~Indosat:0857-7625-8383~3 Three:0899-983-8383~Telkomsel:0812-9556-8383~================================~*********www.kioson.com**********~",
                "print_html": "<html><head>\n<style type='text/css'>\n\n.printpage, .printpage th, .printpage td {\n    /* border: 1px solid black; */\n    border-collapse: collapse;\n}\n.printpage{border: 2px solid #ccc; width:60%;}\n.printpage th, .printpage td {padding:8px; width:50%;}\n.printpage{margin-left:auto; margin-right:auto;}\n .fontbold{ font-weight:bold; text-align:left;}\n.textleft{ text-align:left;}\n @media(max-width:640px){.printpage{width:100%;}}\n</style></head><body style='font-size:15px; font-family:arial;'><table class='printpage'><tr><td class='fontbold' colspan='2'>STRUK PEMBAYARAN TIKET KERETA API </td></tr><tr><td class='fontbold'>KODE BOOKING</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;53RHRA          </td></tr><tr><td class='fontbold'>KODE BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;9994557279804</td></tr><tr><td class='fontbold'>NAMA PENUMPANG</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;FX SYAHASTA APRIL TANTRI</td></tr><tr><td class='fontbold'>TOTAL BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;Rp.17.500</td></tr><tr><td class='fontbold'>REF FM</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;201712221506399994557279804</td></tr><tr><td class='fontbold'>NAMA KA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;PANGRANGO                     </td></tr><tr><td class='fontbold'>RUTE</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;BOO-CBD</td></tr><tr><td class='fontbold'>BERANGKAT</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 18.30</td></tr><tr><td class='fontbold'>TIBA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 19.58</td></tr><tr><td class='fontbold'>KURSI</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;2A</td></tr><tr><td class='fontbold' COLSPAN='2'></td></tr></table></body></html>"
            }
        }

## Service - Game [/services/game]

### Preset Voucher Game [GET /presets/game]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "operator": "AERIA_POINTS",
                    "id": 597
                },
                {
                    "operator": "ASIASOFT_SEA",
                    "id": 572
                },
                {
                    "operator": "AYM-V10",
                    "id": 719
                },
                {
                    "operator": "AYT-V10",
                    "id": 718
                },
                {
                    "operator": "BATTLENET",
                    "id": 626
                },
                {
                    "operator": "CHERRY_CREDITS",
                    "id": 557
                },
                {
                    "operator": "CUBICARD",
                    "id": 619
                },
                {
                    "operator": "DIGICASH",
                    "id": 532
                },
                {
                    "operator": "E_GAMES_HUB",
                    "id": 579
                },
                {
                    "operator": "FUNNEL_ASIA",
                    "id": 576
                },
                {
                    "operator": "GAME",
                    "id": 504
                },
                {
                    "operator": "GAMEVIEW",
                    "id": 584
                },
                {
                    "operator": "GARENA_ONLINE",
                    "id": 536
                },
                {
                    "operator": "GEMSCOOL",
                    "id": 512
                },
                {
                    "operator": "LYTO/GAME_ON",
                    "id": 548
                },
                {
                    "operator": "MEGAXUS",
                    "id": 518
                },
                {
                    "operator": "MMOG_ASIA",
                    "id": 590
                },
                {
                    "operator": "MOLPOINTS",
                    "id": 554
                },
                {
                    "operator": "OLLEH4U",
                    "id": 720
                },
                {
                    "operator": "ORANGEGAME",
                    "id": 527
                },
                {
                    "operator": "PLAYSTATION_PLUS_(ID)",
                    "id": 623
                },
                {
                    "operator": "PSN_MONEY_VOUCHER_(ID)",
                    "id": 621
                },
                {
                    "operator": "QEON_INTERACTIVE",
                    "id": 543
                },
                {
                    "operator": "QEON_INTERACTIVE1",
                    "id": 722
                },
                {
                    "operator": "RIXTYCODE",
                    "id": 603
                },
                {
                    "operator": "STEAM_WALLET_CODE_(IDR)",
                    "id": 611
                },
                {
                    "operator": "STEAM_WALLET_CODE_(USD)",
                    "id": 614
                },
                {
                    "operator": "TV1-V0",
                    "id": 717
                },
                {
                    "operator": "VIWAWA",
                    "id": 569
                },
                {
                    "operator": "WAVEGAME/WAVEPOINTS",
                    "id": 523
                },
                {
                    "operator": "XIXIGAMES",
                    "id": 564
                }
            ]
        }

### Preset Voucher Game Service [GET /presets/game/{service_id}/service-products]

+ Parameters
    + service_id: 597 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "amount": 65500,
                    "operator": "Aeria_Points",
                    "description": "Aeria 510 Points",
                    "id": 591,
                    "commission": 0
                },
                {
                    "amount": 130500,
                    "operator": "Aeria_Points",
                    "description": "Aeria 1040 Points",
                    "id": 592,
                    "commission": 0
                },
                {
                    "amount": 260500,
                    "operator": "Aeria_Points",
                    "description": "Aeria 2120 Points",
                    "id": 593,
                    "commission": 0
                },
                {
                    "amount": 386000,
                    "operator": "Aeria_Points",
                    "description": "Aeria 3240 Points",
                    "id": 594,
                    "commission": 0
                },
                {
                    "amount": 651500,
                    "operator": "Aeria_Points",
                    "description": "Aeria 5500 Points",
                    "id": 595,
                    "commission": 0
                },
                {
                    "amount": 964500,
                    "operator": "Aeria_Points",
                    "description": "Aeria 8550 Points",
                    "id": 596,
                    "commission": 0
                },
                {
                    "amount": 1281500,
                    "operator": "Aeria_Points",
                    "description": "Aeria 11600 Points",
                    "id": 597,
                    "commission": 0
                }
            ]
        }

### Confirmation [POST /services/game/confirmation]

+ Request (application/json)

        {
            "service_product_id": 591
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "charge": 4800,
                "actual_amount": 65500,
                "total_amount": 70300
            }
        }

### Order [POST /services/game/order]

+ Request (application/json)

        {
            "service_product_id": 591
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "order_id": "111B4JCQ",
                "payment_code": "9994557279804",
                "amount": 65500,
                "print": "*************KIOSON*************~*********www.kioson.com*********~ID KCP       :R82T~--------------------------------~STRUK PEMBELIAN PULSA XL ~--------------------------------~TANGGAL     :2017-12-07 14:12:14~ID Pesanan       :113X67CQ~Operator         :XL~Nomer Handphone  :0818457475~Nilai Transaksi  :Rp.6.500~--------------------------------~Terima kasih telah bertransaksi di kioson~Untuk informasi lebih lanjut~silahkan hubungi~XL:0818-0721-8383~Indosat:0857-7625-8383~3 Three:0899-983-8383~Telkomsel:0812-9556-8383~================================~*********www.kioson.com**********~",
                "print_html": "<html><head>\n<style type='text/css'>\n\n.printpage, .printpage th, .printpage td {\n    /* border: 1px solid black; */\n    border-collapse: collapse;\n}\n.printpage{border: 2px solid #ccc; width:60%;}\n.printpage th, .printpage td {padding:8px; width:50%;}\n.printpage{margin-left:auto; margin-right:auto;}\n .fontbold{ font-weight:bold; text-align:left;}\n.textleft{ text-align:left;}\n @media(max-width:640px){.printpage{width:100%;}}\n</style></head><body style='font-size:15px; font-family:arial;'><table class='printpage'><tr><td class='fontbold' colspan='2'>STRUK PEMBAYARAN TIKET KERETA API </td></tr><tr><td class='fontbold'>KODE BOOKING</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;53RHRA          </td></tr><tr><td class='fontbold'>KODE BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;9994557279804</td></tr><tr><td class='fontbold'>NAMA PENUMPANG</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;FX SYAHASTA APRIL TANTRI</td></tr><tr><td class='fontbold'>TOTAL BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;Rp.17.500</td></tr><tr><td class='fontbold'>REF FM</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;201712221506399994557279804</td></tr><tr><td class='fontbold'>NAMA KA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;PANGRANGO                     </td></tr><tr><td class='fontbold'>RUTE</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;BOO-CBD</td></tr><tr><td class='fontbold'>BERANGKAT</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 18.30</td></tr><tr><td class='fontbold'>TIBA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 19.58</td></tr><tr><td class='fontbold'>KURSI</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;2A</td></tr><tr><td class='fontbold' COLSPAN='2'></td></tr></table></body></html>"
            }
        }

## Service - Money [/services/money]

### Preset [GET /presets/money]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "operator": "BANK AGRIS",
                    "id": 714
                },
                {
                    "operator": "BANK AGRO",
                    "id": 699
                },
                {
                    "operator": "BANK ANK",
                    "id": 636
                },
                {
                    "operator": "BANK ANTARDAERAH",
                    "id": 652
                },
                {
                    "operator": "BANK ANZ",
                    "id": 649
                },
                {
                    "operator": "BANK ANZ-RBS",
                    "id": 647
                },
                {
                    "operator": "BANK ARTHA GRAHA",
                    "id": 642
                },
                {
                    "operator": "BANK ARTOS",
                    "id": 707
                },
                {
                    "operator": "BANK BCA SYARIAH",
                    "id": 706
                },
                {
                    "operator": "BANK BENGKULU",
                    "id": 679
                },
                {
                    "operator": "BANK BII",
                    "id": 634
                },
                {
                    "operator": "BANK BKE",
                    "id": 705
                },
                {
                    "operator": "BANK BNI",
                    "id": 630
                },
                {
                    "operator": "BANK BRI",
                    "id": 627
                },
                {
                    "operator": "BANK BRI SYARIAH",
                    "id": 692
                },
                {
                    "operator": "BANK BTN",
                    "id": 689
                },
                {
                    "operator": "BANK BTPN",
                    "id": 691
                },
                {
                    "operator": "BANK BUKOPIN",
                    "id": 694
                },
                {
                    "operator": "BANK BUMI ARTA",
                    "id": 650
                },
                {
                    "operator": "BANK BUMIPUTERA",
                    "id": 698
                },
                {
                    "operator": "BANK CAPITAL",
                    "id": 648
                },
                {
                    "operator": "BANK CENTRAL ASIA",
                    "id": 633
                },
                {
                    "operator": "BANK CHINATRUST INDONESIA",
                    "id": 715
                },
                {
                    "operator": "BANK CIMB NIAGA",
                    "id": 637
                },
                {
                    "operator": "BANK CITIBANK",
                    "id": 640
                },
                {
                    "operator": "BANK COMMONWEALTH",
                    "id": 716
                },
                {
                    "operator": "BANK DANAMON",
                    "id": 631
                },
                {
                    "operator": "BANK DBS",
                    "id": 645
                },
                {
                    "operator": "BANK DKI",
                    "id": 657
                },
                {
                    "operator": "BANK EKONOMI RAHARJA",
                    "id": 651
                },
                {
                    "operator": "BANK GANESHA",
                    "id": 687
                },
                {
                    "operator": "BANK HANA",
                    "id": 697
                },
                {
                    "operator": "BANK HSBC",
                    "id": 643
                },
                {
                    "operator": "BANK INA",
                    "id": 703
                },
                {
                    "operator": "BANK INDEX",
                    "id": 709
                },
                {
                    "operator": "BANK JABAR",
                    "id": 656
                },
                {
                    "operator": "BANK JASA JAKARTA",
                    "id": 696
                },
                {
                    "operator": "BANK JATENG",
                    "id": 659
                },
                {
                    "operator": "BANK JATIM",
                    "id": 660
                },
                {
                    "operator": "BANK JTRUST INDONESIA",
                    "id": 654
                },
                {
                    "operator": "BANK KESAWAN",
                    "id": 688
                },
                {
                    "operator": "BANK LAMPUNG",
                    "id": 667
                },
                {
                    "operator": "BANK MALUKU",
                    "id": 677
                },
                {
                    "operator": "BANK MANDIRI",
                    "id": 629
                },
                {
                    "operator": "BANK MASPION",
                    "id": 686
                },
                {
                    "operator": "BANK MAYAPADA",
                    "id": 655
                },
                {
                    "operator": "BANK MAYORA",
                    "id": 708
                },
                {
                    "operator": "BANK MEGA",
                    "id": 693
                },
                {
                    "operator": "BANK MEGA SYARIAH",
                    "id": 702
                },
                {
                    "operator": "BANK MESTIKA",
                    "id": 684
                },
                {
                    "operator": "BANK MUAMALAT",
                    "id": 683
                },
                {
                    "operator": "BANK NAGARI",
                    "id": 664
                },
                {
                    "operator": "BANK NTT",
                    "id": 676
                },
                {
                    "operator": "BANK OCBC NISP",
                    "id": 639
                },
                {
                    "operator": "BANK PANIN",
                    "id": 635
                },
                {
                    "operator": "BANK PERMATA",
                    "id": 632
                },
                {
                    "operator": "BANK PUNDI",
                    "id": 710
                },
                {
                    "operator": "BANK RABOBANK",
                    "id": 653
                },
                {
                    "operator": "BANK RIAU",
                    "id": 665
                },
                {
                    "operator": "BANK ROYAL",
                    "id": 701
                },
                {
                    "operator": "BANK SAHABAT SAMPOERNA",
                    "id": 704
                },
                {
                    "operator": "BANK SAUDARA",
                    "id": 690
                },
                {
                    "operator": "BANK SBI INDONESIA (INDOMONEX)",
                    "id": 700
                },
                {
                    "operator": "BANK SINARMAS",
                    "id": 685
                },
                {
                    "operator": "BANK STANDARD CHARTERED",
                    "id": 646
                },
                {
                    "operator": "BANK SULTENG",
                    "id": 680
                },
                {
                    "operator": "BANK SUMSEL BABEL",
                    "id": 666
                },
                {
                    "operator": "BANK SUMUT",
                    "id": 663
                },
                {
                    "operator": "BANK SWADESI",
                    "id": 682
                },
                {
                    "operator": "BANK SYARIAH MANDIRI",
                    "id": 695
                },
                {
                    "operator": "BANK UOB BUANA",
                    "id": 638
                },
                {
                    "operator": "BANK VICTORIA INTERNATIONAL",
                    "id": 711
                },
                {
                    "operator": "BANK WINDU KENTJANA INTERNATIONAL",
                    "id": 641
                },
                {
                    "operator": "BPD ACEH",
                    "id": 662
                },
                {
                    "operator": "BPD BALI",
                    "id": 675
                },
                {
                    "operator": "BPD DIY",
                    "id": 658
                },
                {
                    "operator": "BPD JATIM",
                    "id": 661
                },
                {
                    "operator": "BPD KALBAR",
                    "id": 669
                },
                {
                    "operator": "BPD KALSEL",
                    "id": 668
                },
                {
                    "operator": "BPD KALTENG",
                    "id": 671
                },
                {
                    "operator": "BPD KALTIM",
                    "id": 670
                },
                {
                    "operator": "BPD NTB",
                    "id": 674
                },
                {
                    "operator": "BPD PAPUA",
                    "id": 678
                },
                {
                    "operator": "BPD SULSEL",
                    "id": 672
                },
                {
                    "operator": "BPD SULTRA",
                    "id": 681
                },
                {
                    "operator": "BPD SULUT",
                    "id": 673
                },
                {
                    "operator": "BPR KS",
                    "id": 712
                },
                {
                    "operator": "TCASH",
                    "id": 713
                },
                {
                    "operator": "THE BANK OF TOKYO-MITSUBISHI UFJ",
                    "id": 644
                }
            ]
        }

### Confirmation [POST /services/money/confirmation]

+ Request (application/json)

        {
            "service_product_id": 637,
            "holder_account_number": "89789712398",
            "holder_name": "Satrio Wisnugroho",
            "phone_number": "082138844643",
            "sender_name": "Bangkit Lah",
            "amount": 500000
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "order_id": null,
                "order_at": 1513571872,
                "destination_bank": "BANK CIMB NIAGA",
                "holder_account_number": "89789712398",
                "holder_name": "Satrio Wisnugroho",
                "amount": 500000,
                "sender_name": "Bangkit Lah",
                "phone_number": "082138844643",
                "charge": 1000,
                "actual_amount": 500000,
                "total_amount": 501000
            }
        }

### Order [POST /services/money/order]

+ Request (application/json)

        {
            "pin": "1234567",
            "service_product_id": 637,
            "holder_account_number": "555010",
            "holder_name": "Satrio Wisnugroho",
            "phone_number": "082138844643",
            "sender_name": "Bangkit Lah",
            "amount": 500000,
            "coupon_code": ""
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "service_product": "Transfer Uang - 500000",
                "destination_account": "BANK CIMB NIAGA 555010",
                "order_id": "111B4JCQ",
                "payment_code": "9994557279804",
                "amount": 65500,
                "print": "*************KIOSON*************~*********www.kioson.com*********~ID KCP       :R82T~--------------------------------~STRUK PEMBELIAN PULSA XL ~--------------------------------~TANGGAL     :2017-12-07 14:12:14~ID Pesanan       :113X67CQ~Operator         :XL~Nomer Handphone  :0818457475~Nilai Transaksi  :Rp.6.500~--------------------------------~Terima kasih telah bertransaksi di kioson~Untuk informasi lebih lanjut~silahkan hubungi~XL:0818-0721-8383~Indosat:0857-7625-8383~3 Three:0899-983-8383~Telkomsel:0812-9556-8383~================================~*********www.kioson.com**********~",
                "print_html": "<html><head>\n<style type='text/css'>\n\n.printpage, .printpage th, .printpage td {\n    /* border: 1px solid black; */\n    border-collapse: collapse;\n}\n.printpage{border: 2px solid #ccc; width:60%;}\n.printpage th, .printpage td {padding:8px; width:50%;}\n.printpage{margin-left:auto; margin-right:auto;}\n .fontbold{ font-weight:bold; text-align:left;}\n.textleft{ text-align:left;}\n @media(max-width:640px){.printpage{width:100%;}}\n</style></head><body style='font-size:15px; font-family:arial;'><table class='printpage'><tr><td class='fontbold' colspan='2'>STRUK PEMBAYARAN TIKET KERETA API </td></tr><tr><td class='fontbold'>KODE BOOKING</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;53RHRA          </td></tr><tr><td class='fontbold'>KODE BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;9994557279804</td></tr><tr><td class='fontbold'>NAMA PENUMPANG</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;FX SYAHASTA APRIL TANTRI</td></tr><tr><td class='fontbold'>TOTAL BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;Rp.17.500</td></tr><tr><td class='fontbold'>REF FM</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;201712221506399994557279804</td></tr><tr><td class='fontbold'>NAMA KA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;PANGRANGO                     </td></tr><tr><td class='fontbold'>RUTE</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;BOO-CBD</td></tr><tr><td class='fontbold'>BERANGKAT</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 18.30</td></tr><tr><td class='fontbold'>TIBA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 19.58</td></tr><tr><td class='fontbold'>KURSI</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;2A</td></tr><tr><td class='fontbold' COLSPAN='2'></td></tr></table></body></html>"
            }
        }

## Service - Pay [/services/pay]

### Preset [GET /presets/pay]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "operator": "TOKOPEDIA",
                    "id": 726
                }
            ]
        }

### Confirmation [POST /services/pay/confirmation]

+ Request (application/json)

        {
            "service_product_id": 726,
            "phone_number": "0818457475",
            "payment_code": "AJ0818457475"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "charge": 2500,
                "actual_amount": 50000,
                "total_amount": 52500
            }
        }

### Order [POST /services/pay/order]

+ Request (application/json)

        {
            "pin": "1234567",
            "service_product_id": 726,
            "phone_number": "0818457475",
            "payment_code": "AJ0818457475",
            "coupon_code": ""
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "service_product": "Tokopedia",
                "payment_code": "AJ0818457475",
                "order_id": "1153WNCQ",
                "amount": 52500,
                "print": "*************KIOSON*************~*********www.kioson.com*********~ID KCP       :R82T~--------------------------------~STRUK PEMBELIAN PULSA XL ~--------------------------------~TANGGAL     :2017-12-07 14:12:14~ID Pesanan       :113X67CQ~Operator         :XL~Nomer Handphone  :0818457475~Nilai Transaksi  :Rp.6.500~--------------------------------~Terima kasih telah bertransaksi di kioson~Untuk informasi lebih lanjut~silahkan hubungi~XL:0818-0721-8383~Indosat:0857-7625-8383~3 Three:0899-983-8383~Telkomsel:0812-9556-8383~================================~*********www.kioson.com**********~",
                "print_html": "<html><head>\n<style type='text/css'>\n\n.printpage, .printpage th, .printpage td {\n    /* border: 1px solid black; */\n    border-collapse: collapse;\n}\n.printpage{border: 2px solid #ccc; width:60%;}\n.printpage th, .printpage td {padding:8px; width:50%;}\n.printpage{margin-left:auto; margin-right:auto;}\n .fontbold{ font-weight:bold; text-align:left;}\n.textleft{ text-align:left;}\n @media(max-width:640px){.printpage{width:100%;}}\n</style></head><body style='font-size:15px; font-family:arial;'><table class='printpage'><tr><td class='fontbold' colspan='2'>STRUK PEMBAYARAN TIKET KERETA API </td></tr><tr><td class='fontbold'>KODE BOOKING</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;53RHRA          </td></tr><tr><td class='fontbold'>KODE BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;9994557279804</td></tr><tr><td class='fontbold'>NAMA PENUMPANG</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;FX SYAHASTA APRIL TANTRI</td></tr><tr><td class='fontbold'>TOTAL BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;Rp.17.500</td></tr><tr><td class='fontbold'>REF FM</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;201712221506399994557279804</td></tr><tr><td class='fontbold'>NAMA KA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;PANGRANGO                     </td></tr><tr><td class='fontbold'>RUTE</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;BOO-CBD</td></tr><tr><td class='fontbold'>BERANGKAT</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 18.30</td></tr><tr><td class='fontbold'>TIBA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 19.58</td></tr><tr><td class='fontbold'>KURSI</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;2A</td></tr><tr><td class='fontbold' COLSPAN='2'></td></tr></table></body></html>"
            }
        }

## Service - Phone [/services/phone]

### Confirmation [POST /services/phone/confirmation]

+ Request (application/json)

        {
            "phone_number": "082138844644",
            "customer_id": "02175888901"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "customer_id": "02175888901",
                "customer_name": "LINA SIREGAR",
                "customer_phone": "082138844644",
                "due_date": "Januari 2017",
                "charge": 2500,
                "actual_amount": 137580,
                "total_amount": 140080
            }
        }

### Order [POST /services/phone/order]

+ Request (application/json)

        {
            "pin": "1234567",
            "phone_number": "082138844643",
            "coupon_code": "",
            "customer_id": "02175888901"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "service_product": "Telkom - Desember 2018",
                "customer_id": "02175888901",
                "order_id": "111BMJCQ",
                "amount": 140080,
                "print": "*************KIOSON*************~*********www.kioson.com*********~ID KCP       :R82T~--------------------------------~STRUK PEMBELIAN PULSA XL ~--------------------------------~TANGGAL     :2017-12-07 14:12:14~ID Pesanan       :113X67CQ~Operator         :XL~Nomer Handphone  :0818457475~Nilai Transaksi  :Rp.6.500~--------------------------------~Terima kasih telah bertransaksi di kioson~Untuk informasi lebih lanjut~silahkan hubungi~XL:0818-0721-8383~Indosat:0857-7625-8383~3 Three:0899-983-8383~Telkomsel:0812-9556-8383~================================~*********www.kioson.com**********~",
                "print_html": "<html><head>\n<style type='text/css'>\n\n.printpage, .printpage th, .printpage td {\n    /* border: 1px solid black; */\n    border-collapse: collapse;\n}\n.printpage{border: 2px solid #ccc; width:60%;}\n.printpage th, .printpage td {padding:8px; width:50%;}\n.printpage{margin-left:auto; margin-right:auto;}\n .fontbold{ font-weight:bold; text-align:left;}\n.textleft{ text-align:left;}\n @media(max-width:640px){.printpage{width:100%;}}\n</style></head><body style='font-size:15px; font-family:arial;'><table class='printpage'><tr><td class='fontbold' colspan='2'>STRUK PEMBAYARAN TIKET KERETA API </td></tr><tr><td class='fontbold'>KODE BOOKING</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;53RHRA          </td></tr><tr><td class='fontbold'>KODE BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;9994557279804</td></tr><tr><td class='fontbold'>NAMA PENUMPANG</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;FX SYAHASTA APRIL TANTRI</td></tr><tr><td class='fontbold'>TOTAL BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;Rp.17.500</td></tr><tr><td class='fontbold'>REF FM</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;201712221506399994557279804</td></tr><tr><td class='fontbold'>NAMA KA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;PANGRANGO                     </td></tr><tr><td class='fontbold'>RUTE</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;BOO-CBD</td></tr><tr><td class='fontbold'>BERANGKAT</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 18.30</td></tr><tr><td class='fontbold'>TIBA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 19.58</td></tr><tr><td class='fontbold'>KURSI</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;2A</td></tr><tr><td class='fontbold' COLSPAN='2'></td></tr></table></body></html>"
            }
        }

## Service - Power [/services/power]

### Preset Prepaid [GET /presets/power?customer_id={customer_id}]

+ Parameters
    + customer_id: 01100662194 (number, required)

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "description": "PLN Prepaid 20.000",
                    "amount": 20000
                },
                {
                    "description": "PLN Prepaid 30.000",
                    "amount": 30000
                },
                {
                    "description": "PLN Prepaid 50.000",
                    "amount": 50000
                },
                {
                    "description": "PLN Prepaid 100.000",
                    "amount": 100000
                },
                {
                    "description": "PLN Prepaid 200.000",
                    "amount": 200000
                },
                {
                    "description": "PLN Prepaid 500.000",
                    "amount": 500000
                },
                {
                    "description": "PLN Prepaid 1.000.000",
                    "amount": 1000000
                }
            ]
        }

### Prepaid Confirmation [POST /services/power/prepaid/confirmation]

+ Request (application/json)

        {
            "customer_id": "01100662194",
            "phone_number": "082138844643",
            "amount": 30000
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "customer_id": "01100662194",
                "customer_name": "KARTO SOEWITO",
                "customer_phone": "082138844643",
                "charge": 31600,
                "actual_amount": 30000,
                "total_amount": 31600
            }
        }

### Prepaid Order [POST /services/power/prepaid/order]

+ Request (application/json)

        {
            "pin": "1234567",
            "customer_id": "01100662194",
            "phone_number": "082138844643",
            "amount": 30000,
            "coupon_code": ""
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "service_product": "Listrik PLN Prabayar 30.000",
                "customer_id": "01100662194",
                "order_id": "111BEJCQ",
                "amount": 32500
            }
        }

### Postpaid Confirmation [POST /services/power/postpaid/confirmation]

+ Request (application/json)

        {
            "customer_id": "9032427221"
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "customer_id": "9032427221",
                "customer_name": "R SUMALI2",
                "due_date": 1513530000,
                "charge": 2500,
                "actual_amount": 887849,
                "total_amount": 890349
            }
        }

### Postpaid Order [POST /services/power/postpaid/order]

+ Request (application/json)

        {
            "pin": "1234567",
            "customer_id": "9032427221",
            "phone_number": "082138844644",
            "coupon_code": ""
        }

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": {
                "service_product": "Listrik PLN Pascabayar",
                "customer_id": "9032427221",
                "order_id": "111BGJCQ",
                "amount": 890349,
                "print": "*************KIOSON*************~*********www.kioson.com*********~ID KCP       :R82T~--------------------------------~STRUK PEMBELIAN PULSA XL ~--------------------------------~TANGGAL     :2017-12-07 14:12:14~ID Pesanan       :113X67CQ~Operator         :XL~Nomer Handphone  :0818457475~Nilai Transaksi  :Rp.6.500~--------------------------------~Terima kasih telah bertransaksi di kioson~Untuk informasi lebih lanjut~silahkan hubungi~XL:0818-0721-8383~Indosat:0857-7625-8383~3 Three:0899-983-8383~Telkomsel:0812-9556-8383~================================~*********www.kioson.com**********~",
                "print_html": "<html><head>\n<style type='text/css'>\n\n.printpage, .printpage th, .printpage td {\n    /* border: 1px solid black; */\n    border-collapse: collapse;\n}\n.printpage{border: 2px solid #ccc; width:60%;}\n.printpage th, .printpage td {padding:8px; width:50%;}\n.printpage{margin-left:auto; margin-right:auto;}\n .fontbold{ font-weight:bold; text-align:left;}\n.textleft{ text-align:left;}\n @media(max-width:640px){.printpage{width:100%;}}\n</style></head><body style='font-size:15px; font-family:arial;'><table class='printpage'><tr><td class='fontbold' colspan='2'>STRUK PEMBAYARAN TIKET KERETA API </td></tr><tr><td class='fontbold'>KODE BOOKING</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;53RHRA          </td></tr><tr><td class='fontbold'>KODE BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;9994557279804</td></tr><tr><td class='fontbold'>NAMA PENUMPANG</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;FX SYAHASTA APRIL TANTRI</td></tr><tr><td class='fontbold'>TOTAL BAYAR</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;Rp.17.500</td></tr><tr><td class='fontbold'>REF FM</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;201712221506399994557279804</td></tr><tr><td class='fontbold'>NAMA KA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;PANGRANGO                     </td></tr><tr><td class='fontbold'>RUTE</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;BOO-CBD</td></tr><tr><td class='fontbold'>BERANGKAT</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 18.30</td></tr><tr><td class='fontbold'>TIBA</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;18/01/2018 19.58</td></tr><tr><td class='fontbold'>KURSI</td><td class='textleft'>:&nbsp;&nbsp;&nbsp;&nbsp;2A</td></tr><tr><td class='fontbold' COLSPAN='2'></td></tr></table></body></html>"
            }
        }

## Service - Recharge [/services/recharge]

### Preset Recharge Mobile [GET /presets/recharge/mobile]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "operator": "BOLT",
                    "id": 965,
                    "logo": "https://image.ibb.co/bCFbBH/group_6.png",
                    "service_products": [
                        {
                            "amount": 25000,
                            "operator": "BOLT",
                            "description": "BOLT 25.000 MRBT25",
                            "id": 961,
                            "commission": 600
                        },
                        {
                            "amount": 50000,
                            "operator": "BOLT",
                            "description": "BOLT 50.000 MRBT50",
                            "id": 962,
                            "commission": 1200
                        },
                        {
                            "amount": 100000,
                            "operator": "BOLT",
                            "description": "BOLT 100.000 MRBT100",
                            "id": 963,
                            "commission": 2450
                        },
                        {
                            "amount": 150000,
                            "operator": "BOLT",
                            "description": "BOLT 150.000 MRBT150",
                            "id": 964,
                            "commission": 3700
                        },
                        {
                            "amount": 200000,
                            "operator": "BOLT",
                            "description": "BOLT 200.000 MRBT200",
                            "id": 965,
                            "commission": 4500
                        }
                    ]
                },
                {
                    "operator": "INDOSAT",
                    "id": 976,
                    "logo": "https://image.ibb.co/kLedrH/group_7.png",
                    "service_products": [
                        {
                            "amount": 6000,
                            "operator": "INDOSAT",
                            "description": "INDOSAT 5.000 MRIS5",
                            "id": 966,
                            "commission": 300
                        },
                        {
                            "amount": 12000,
                            "operator": "INDOSAT",
                            "description": "INDOSAT 10.000 MRIS10",
                            "id": 967,
                            "commission": 1300
                        },
                        {
                            "amount": 20000,
                            "operator": "INDOSAT",
                            "description": "INDOSAT 20.000 MRIS20",
                            "id": 968,
                            "commission": 75
                        },
                        {
                            "amount": 26000,
                            "operator": "INDOSAT",
                            "description": "INDOSAT 25.000 MRIS25",
                            "id": 969,
                            "commission": 1125
                        },
                        {
                            "amount": 30000,
                            "operator": "INDOSAT",
                            "description": "INDOSAT 30.000 MRIS30",
                            "id": 970,
                            "commission": 125
                        },
                        {
                            "amount": 50000,
                            "operator": "INDOSAT",
                            "description": "INDOSAT 50.000 MRIS50",
                            "id": 971,
                            "commission": 975
                        },
                        {
                            "amount": 100000,
                            "operator": "INDOSAT",
                            "description": "INDOSAT 10.0000 MRIS100",
                            "id": 972,
                            "commission": 2975
                        },
                        {
                            "amount": 150000,
                            "operator": "INDOSAT",
                            "description": "INDOSAT 150.000 MRIS150",
                            "id": 973,
                            "commission": 5350
                        },
                        {
                            "amount": 250000,
                            "operator": "INDOSAT",
                            "description": "INDOSAT 250.000 MRIS250",
                            "id": 974,
                            "commission": 12700
                        },
                        {
                            "amount": 500000,
                            "operator": "INDOSAT",
                            "description": "INDOSAT 500.000 MRIS500",
                            "id": 975,
                            "commission": 25000
                        },
                        {
                            "amount": 1000000,
                            "operator": "INDOSAT",
                            "description": "INDOSAT 1.000.000 MRIS1000",
                            "id": 976,
                            "commission": 25000
                        }
                    ]
                },
                {
                    "operator": "SMARTFREN",
                    "id": 987,
                    "logo": "https://image.ibb.co/eesL5c/group_4.png",
                    "service_products": [
                        {
                            "amount": 6000,
                            "operator": "SMARTFREN",
                            "description": "SMARTFREN 5.000 MRSM5",
                            "id": 977,
                            "commission": 850
                        },
                        {
                            "amount": 12000,
                            "operator": "SMARTFREN",
                            "description": "SMARTFREN 20.000 MRSM20",
                            "id": 979,
                            "commission": 1950
                        },
                        {
                            "amount": 21500,
                            "operator": "SMARTFREN",
                            "description": "SMARTFREN 25.000",
                            "id": 980,
                            "commission": 1600
                        },
                        {
                            "amount": 50000,
                            "operator": "SMARTFREN",
                            "description": "SMARTFREN 50.000",
                            "id": 981,
                            "commission": 500
                        },
                        {
                            "amount": 51000,
                            "operator": "SMARTFREN",
                            "description": "SMARTFREN 60.000",
                            "id": 982,
                            "commission": 700
                        },
                        {
                            "amount": 61000,
                            "operator": "SMARTFREN",
                            "description": "SMARTFREN 100.000",
                            "id": 983,
                            "commission": 1300
                        },
                        {
                            "amount": 100000,
                            "operator": "SMARTFREN",
                            "description": "SMARTFREN 150.000",
                            "id": 984,
                            "commission": 1500
                        },
                        {
                            "amount": 150000,
                            "operator": "SMARTFREN",
                            "description": "SMARTFREN 200.000",
                            "id": 985,
                            "commission": 2000
                        },
                        {
                            "amount": 200000,
                            "operator": "SMARTFREN",
                            "description": "SMARTFREN 300.000",
                            "id": 986,
                            "commission": 2000
                        },
                        {
                            "amount": 300000,
                            "operator": "SMARTFREN",
                            "description": "SMARTFREN 500.000",
                            "id": 987,
                            "commission": 4000
                        }
                    ]
                },
                {
                    "operator": "TELKOMSEL",
                    "id": 997,
                    "logo": "https://image.ibb.co/jKhgBH/group_2.png",
                    "service_products": [
                        {
                            "amount": 7000,
                            "operator": "TELKOMSEL",
                            "description": "TELKOMSEL PULSA REGULER 5.000",
                            "id": 988,
                            "commission": 1200
                        },
                        {
                            "amount": 12000,
                            "operator": "TELKOMSEL",
                            "description": "TELKOMSEL PULSA REGULER 10.000",
                            "id": 989,
                            "commission": 1650
                        },
                        {
                            "amount": 21500,
                            "operator": "TELKOMSEL",
                            "description": "TELKOMSEL PULSA REGULER 20.000",
                            "id": 990,
                            "commission": 1475
                        },
                        {
                            "amount": 26000,
                            "operator": "TELKOMSEL",
                            "description": "TELKOMSEL PULSA REGULER 25.000",
                            "id": 991,
                            "commission": 975
                        },
                        {
                            "amount": 40000,
                            "operator": "TELKOMSEL",
                            "description": "TELKOMSEL PULSA REGULER 40.000",
                            "id": 1028,
                            "commission": 0
                        },
                        {
                            "amount": 50000,
                            "operator": "TELKOMSEL",
                            "description": "TELKOMSEL PULSA REGULER 50.000",
                            "id": 992,
                            "commission": 725
                        },
                        {
                            "amount": 100000,
                            "operator": "TELKOMSEL",
                            "description": "TELKOMSEL PULSA REGULER 100.000",
                            "id": 993,
                            "commission": 2500
                        },
                        {
                            "amount": 150000,
                            "operator": "TELKOMSEL",
                            "description": "TELKOMSEL PULSA REGULER 150.000",
                            "id": 994,
                            "commission": 5250
                        },
                        {
                            "amount": 200000,
                            "operator": "TELKOMSEL",
                            "description": "TELKOMSEL PULSA REGULER 200.000",
                            "id": 995,
                            "commission": 7000
                        },
                        {
                            "amount": 300000,
                            "operator": "TELKOMSEL",
                            "description": "TELKOMSEL PULSA REGULER 300.000",
                            "id": 996,
                            "commission": 10500
                        },
                        {
                            "amount": 500000,
                            "operator": "TELKOMSEL",
                            "description": "TELKOMSEL PULSA REGULER 500.000",
                            "id": 997,
                            "commission": 17500
                        }
                    ]
                },
                {
                    "operator": "THREE",
                    "id": 1009,
                    "logo": "https://image.ibb.co/dw8zyx/group_3.png",
                    "service_products": [
                        {
                            "amount": 2000,
                            "operator": "THREE",
                            "description": "THREE 1.000",
                            "id": 999,
                            "commission": 990
                        },
                        {
                            "amount": 6000,
                            "operator": "THREE",
                            "description": "THREE 10.000",
                            "id": 1001,
                            "commission": 1000
                        },
                        {
                            "amount": 12000,
                            "operator": "THREE",
                            "description": "THREE 20.000",
                            "id": 1002,
                            "commission": 2000
                        },
                        {
                            "amount": 15000,
                            "operator": "THREE",
                            "description": "THREE PAKET BICARA ANYNET 120 MNT",
                            "id": 1011,
                            "commission": 900
                        },
                        {
                            "amount": 21500,
                            "operator": "THREE",
                            "description": "THREE 25.000",
                            "id": 1003,
                            "commission": 1650
                        },
                        {
                            "amount": 30000,
                            "operator": "THREE",
                            "description": "THREE PAKET BICARA ANYNET 250 MNT",
                            "id": 1012,
                            "commission": 900
                        },
                        {
                            "amount": 31500,
                            "operator": "THREE",
                            "description": "THREE 50.000",
                            "id": 1004,
                            "commission": 2000
                        },
                        {
                            "amount": 50000,
                            "operator": "THREE",
                            "description": "THREE 100.000",
                            "id": 1005,
                            "commission": 750
                        },
                        {
                            "amount": 100000,
                            "operator": "THREE",
                            "description": "THREE 150.000",
                            "id": 1006,
                            "commission": 1500
                        },
                        {
                            "amount": 150000,
                            "operator": "THREE",
                            "description": "THREE 300.000",
                            "id": 1007,
                            "commission": 2000
                        },
                        {
                            "amount": 300000,
                            "operator": "THREE",
                            "description": "THREE 500.000",
                            "id": 1008,
                            "commission": 4000
                        },
                        {
                            "amount": 500000,
                            "operator": "THREE",
                            "description": "THREE 1.000.000",
                            "id": 1009,
                            "commission": 6500
                        }
                    ]
                },
                {
                    "operator": "XL",
                    "id": 1021,
                    "logo": "https://image.ibb.co/bEaCJx/group_5.png",
                    "service_products": [
                        {
                            "amount": 6000,
                            "operator": "XL",
                            "description": "XL / AXIS 5.000",
                            "id": 1013,
                            "commission": 350
                        },
                        {
                            "amount": 12000,
                            "operator": "XL",
                            "description": "XL / AXIS 10.000",
                            "id": 1014,
                            "commission": 1350
                        },
                        {
                            "amount": 26000,
                            "operator": "XL",
                            "description": "XL / AXIS 25.000",
                            "id": 1015,
                            "commission": 1600
                        },
                        {
                            "amount": 50000,
                            "operator": "XL",
                            "description": "XL / AXIS 50.000",
                            "id": 1016,
                            "commission": 800
                        },
                        {
                            "amount": 100000,
                            "operator": "XL",
                            "description": "XL / AXIS 100.000",
                            "id": 1017,
                            "commission": 1800
                        },
                        {
                            "amount": 200000,
                            "operator": "XL",
                            "description": "XL / AXIS 200.000",
                            "id": 1018,
                            "commission": 3800
                        },
                        {
                            "amount": 300000,
                            "operator": "XL",
                            "description": "XL / AXIS 300.000",
                            "id": 1019,
                            "commission": 7000
                        },
                        {
                            "amount": 500000,
                            "operator": "XL",
                            "description": "XL / AXIS 500.000",
                            "id": 1020,
                            "commission": 11500
                        },
                        {
                            "amount": 1000000,
                            "operator": "XL",
                            "description": "XL / AXIS 1.000.000",
                            "id": 1021,
                            "commission": 23500
                        }
                    ]
                }
            ]
        }

### Preset Recharge Mobile Data [GET /presets/recharge/mobile-data]

+ Response 200 (application/json)

        {
            "code": 200,
            "status": true,
            "message": "Success",
            "data": [
                {
                    "operator": "BOLT",
                    "id": 733,
                    "logo": "https://image.ibb.co/bCFbBH/group_6.png",
                    "service_products": [
                        {
                            "amount": 49000,
                            "operator": "BOLT",
                            "description": "BOLT KUOTA 3 GB",
                            "id": 906,
                            "commission": 900
                        },
                        {
                            "amount": 149000,
                            "operator": "BOLT",
                            "description": "BOLT KUOTA 13 GB",
                            "id": 733,
                            "commission": 3675
                        }
                    ]
                },
                {
                    "operator": "INDOSAT_DATA",
                    "id": 750,
                    "logo": "https://image.ibb.co/kLedrH/group_7.png",
                    "service_products": [
                        {
                            "amount": 35000,
                            "operator": "INDOSAT_DATA",
                            "description": "EXTRA QUOTA 2GB, FULL 24 JAM",
                            "id": 735,
                            "commission": 650
                        },
                        {
                            "amount": 45000,
                            "operator": "INDOSAT_DATA",
                            "description": "INDOSAT DATA 4,5 GB / 30 DAYS",
                            "id": 743,
                            "commission": 4900
                        },
                        {
                            "amount": 49000,
                            "operator": "INDOSAT_DATA",
                            "description": "INDOSAT DATA INTERNET STAND ALONE 1GB",
                            "id": 955,
                            "commission": 8650
                        },
                        {
                            "amount": 55000,
                            "operator": "INDOSAT_DATA",
                            "description": "INDOSAT DATA SUPER INTERNET BULANAN 3.5GB",
                            "id": 958,
                            "commission": 4750
                        },
                        {
                            "amount": 59000,
                            "operator": "INDOSAT_DATA",
                            "description": "INDOSAT DATA FREEDOM 1 +1 GB + 10 GB 4G ( M)",
                            "id": 747,
                            "commission": 8500
                        },
                        {
                            "amount": 60000,
                            "operator": "INDOSAT_DATA",
                            "description": "INDOSAT DATA 3 GB / 30 DAYS",
                            "id": 742,
                            "commission": 7300
                        },
                        {
                            "amount": 75000,
                            "operator": "INDOSAT_DATA",
                            "description": "EXTRA QUOTA 6GB, FULL 24 JAM",
                            "id": 737,
                            "commission": 7150
                        },
                        {
                            "amount": 89000,
                            "operator": "INDOSAT_DATA",
                            "description": "INDOSAT DATA INTERNET STAND ALONE 3GB",
                            "id": 956,
                            "commission": 8650
                        },
                        {
                            "amount": 90000,
                            "operator": "INDOSAT_DATA",
                            "description": "INDOSAT DATA 5 GB / 30 DAYS",
                            "id": 744,
                            "commission": 12400
                        },
                        {
                            "amount": 99000,
                            "operator": "INDOSAT_DATA",
                            "description": "INDOSAT DATA FREEDOM 3 + 3 GB + 20 GB 4G ( L )",
                            "id": 748,
                            "commission": 14500
                        },
                        {
                            "amount": 100000,
                            "operator": "INDOSAT_DATA",
                            "description": "INDOSAT BB90 HARI GAUL BANGET",
                            "id": 739,
                            "commission": 18750
                        },
                        {
[...]
